<div class="contenedor-sidebar z-depth-3">
    <div class="perfil">
        <figure class="foto">
            <img src="../../../assets/images/general/9.jpg" alt="foto-perfil">
        </figure>
        <div class="perfil-datos">
            <div class="perfil-nombre">
                <p>ISRAEL GUILLERMO</p>
            </div>
            <div class="perfil-rol">
                <p>ADMINSTRADOR</p>
            </div>
        </div>
    </div>
    <ul class="options">
        <li class="title-group">
            <p>USUARIOS</p>
        </li>
        <li class="option-item">
            <a class="item" href="#">
                <i class="material-icons">content_paste</i>
                <p>Listado</p>
            </a>
        </li>
        <li class="title-group">
            <p>REPOSITORIO</p>
        </li>
        <li class="option-item">
            <a class="item" href="#">
                <i class="material-icons">check_circle</i>
                <p>Nuevo registro</p>
            </a>
        </li>
        <li class="option-item">
            <a class="item" href="#">
                <i class="material-icons">check_circle</i>
                <p>Editar Documento</p>
            </a>
        </li>
        <li class="option-item">
            <a class="item" href="#">
                <i class="material-icons">check_circle</i>
                <p>Busqueda de Documento</p>
            </a>
        </li>
        <li class="option-item">
            <a class="item" href="#">
                <i class="material-icons">picture_as_pdf</i>
                <p>Reportes</p>
            </a>
        </li>
        <li class="title-group">
            <p>DOCUMENTOS</p>
        </li>
        <li class="option-item">
            <a class="item" href="#">
                <i class="material-icons">mode_edit</i>
                <p>Nuevo registro</p>
            </a>
        </li>
        <li class="option-item">
            <a class="item" href="#">
                <i class="material-icons">assessment</i>
                <p>Busqueda</p>
            </a>
        </li>
        <li class="option-item">
            <a class="item" href="#">
                <i class="material-icons">loyalty</i>
                <p>Configuracion</p>
            </a>
        </li>

        <li class="option-item">
            <a class="item" href="#">
                <i class="material-icons">library_books</i>
                <p>Reportes</p>
            </a>
        </li>
    </ul>
</div>
